.login-card{
    width: 70%;
    min-height: 35%;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 50%);
}
@media only screen and (min-width:600px){
    .login-card{
    width: 48%;
    min-height: 26%;
    }
}

@media only screen and (min-width: 992px){
    .login-card{
    width: 30%;
    min-height: 45%;
}
}